body{
    background-image: url('https://images.pexels.com/photos/566888/pexels-photo-566888.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    width:800px ;
    height:700px;
    margin: auto;
}

