body {
	
	color: black;
	font-family:monospace;
}

.container {
	margin: 50px auto;
	max-width: 600px;
	padding: 20px;
	border: 5px solid #444;
	box-shadow: 0 0 10px brown;
	text-align: center;
}

h2 {
	font-size: 40px;
	margin-bottom: 20px;
}

#time {
	font-size: 72px;
	margin-bottom: 20px;
}

